/* ----------------------------------------------
                  google font
----------------------------------------------- */
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
</style>

/*--------------------------------------------
        common styles or utilities
----------------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/*--------------------------------------------------
      common for main and header section width 
---------------------------------------------------- */
header,main{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

/* ---------------------------------------------
                  header sectoin
---------------------------------------------  */
.head-section{
   background-color: black;
   height: 550px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 25px;
}

.title-container,.banner-container{
    width: 500px;
    height: 500px;
    color: white;
}
.header-title h1{
    font-weight: 700;
    font-size: 70px;
}
.header-title button{
    background-color: red;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.banner-container .header-banner img{
width: 100%;
}

/*---------------------------------------------
                    main container
----------------------------------------------- */
.container{
    display: flex;
    margin-bottom: 50px;
}
/* ------------------------------------------------
            this is upcomming matche section
--------------------------------------------------- */
.upcomming-match{
    background-color: black;
    margin-right: 20px;
    width: 35%;
height: 260px;
    display: flex;
   flex-direction: column;
 align-items: center;
 border-radius: 10px;

}
.upcomming-match button{
    width: 225px;
    padding: 15px 0;
    font-size:1.1em;
    border-radius: 10px;

}
.upcomming-match  .blog-button{
    background-color: red;
color: white;
}
/* ----------------------------------------------------
  this is blogs section or different matches sectoihn 
----------------------------------------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 20px;
    flex-grow: calc(1);
}
.blog{
   border: 1px solid #8080803b;
border-radius: 10px;
}
.blog .blog-banner img{
    width: 100%;
}

.blog .blog-detail{
    padding: 15px;
}
.blog button{
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid grey;
}
.blog h3{
    font-weight: 700;
}
.blog .blog-info{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
/*---------------------------------------
                         view all button
-----------------------------------------*/
.view-all-button{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    display: none;
}
.view-all-button div{
width: 135px;
background: #DD0000;
padding:2px 25px;
border-radius: 5px;
text-align: center;
color: white;
font-size: 15px;
}
/* -------------------------------------------------
                  footer section 
----------------------------------------------------- */

.footer-section{
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 
    #161616;
}
.footer-detail{
    width: 1200px;
}

.footer-info{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
}

.footer-info div{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
}
.footer-detail h1{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
}
.footer-detail hr{
    border: 1px solid #ffffff1a;
    margin-bottom: 50px;
}