/* ----------------------------------------------
                  google font
----------------------------------------------- */
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
</style>

/*--------------------------------------------
        common styles or utilities
----------------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------
      common style for main,header,footer container
---------------------------------------------------- */
.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

/* ---------------------------------------------
                  header sectoin
---------------------------------------------  */
.header-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #008080;
    border-radius: 25px;
}

.title-container,.banner-container{
    width: 40%;
}
.title-container h1{
    font-size: 70px;
    margin-top: 58px;
    margin-bottom: 0px;
}
.title-container{
    color: white;
}
.title-container button{
    background-color: red;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: white;
}

/*---------------------------------------------
           watch live button animation added 
           
-----------------------------------------------*/
@keyframes color-change {
    0%{
        /* background-color:red; */
        color: white;
    }
    50%{
        /* background-color: green; */
        color: rgb(22, 181, 255);
    }
    75%{
        /* background-color: brown; */
        color: rgb(142, 243, 11);
    }
    100%{
        /* background-color: chartreuse; */
        color: rgb(14, 255, 195);
    }
}
.header-container:hover button{
    animation: color-change 2s ease infinite ;
}

.header-banner{
    width: 100%;
}
.banner-container img{
    width: 100%;
    margin-top: 20px;
    height: 500px;
}

/*---------------------------------------------
                    upcomming mathch blogs  container
----------------------------------------------- */
.match-and-blogs-container{
    display: flex;
    /* margin-bottom: 100px; */
}
/* ------------------------------------------------
            this is upcomming matche section
--------------------------------------------------- */
.upcomming-match{
    background-color: #297416;
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding:15px 7.5px;
}
.upcomming-match .upcomming{
    width: 77%;
    text-decoration: none;
    border: 1px solid #80808075;
    margin: 10px;
    padding: 14px;
    font-weight: 500;
    font-size:20px;
    border-radius: 10px;
    color: #161616;
    background-color: white;
   text-align: center;
}

.upcomming-match button{
    width: 90%;
    margin: 10px;
    padding: 15px;
    font-size:1.1em;
    border-radius: 10px;
    border: 0;
}
.upcomming-match .blog-button{
    background-color: red;
    color: white;
}
/* ----------------------------------------------------
                 this is blogs section
----------------------------------------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    flex-grow: calc(1);
    margin-left: 20px;
}

.blog{
   border: 1px solid #8080803b;
border-radius: 10px;
background-color: #b6acac33;
transition: transform 0.9s ease;
}
/* blog extra design with hover in transfrom and transiton */
.blog:hover{
    transform: translateY(-20px);
}

.blog .blog-banner img{
    width: 100%;
}

.blog .blog-detail{
    padding: 15px;
}
.blog button{
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid grey;
}
.blog h3{
    font-weight: 700;
}
.blog .blog-info{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
/*---------------------------------------
            view all button
-----------------------------------------*/
.view-all-button{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    display: none;
}
.view-all-button a{
width: 135px;
background: #DD0000;
padding:20px 50px;
border-radius: 5px;
text-decoration: none;
text-align: center;
color: white;
font-size: 20px;
}

/* ------------------------------
      gets update section 
------------------------------*/
.subscribe-section h1{
    text-align: center;
    color: green;
    font-weight: 900;
    font-size: 50px;
}
.subscribe-box{
  display: flex;
  justify-content: center;
}
.outer-box{
    width: 70%;
    height: 200px;
    background-color: rgb(243, 207, 160);
    display:flex;
    justify-content: center;
    align-items: center;
}
.inner-box{
   width: max-content;
    height: max-content;
    background-color: 	#FFA07A;
    padding: 15px;
    display: flex;
}
.inner-box input[type="email"]{
    padding: 15px;
    width: 90%;
    border: 0;
    border-radius: 5px;
 outline: none;
}
.inner-box input[type="submit"]{
    padding: 14px;
    width: 150px;
    font-size: 15px;
    font-weight: 700;
    border: 0;
    background-color: tomato;
    border-radius: 5px;
    color: #FFFFFF;
}
/* -------------------------------------------------
                  footer section 
----------------------------------------------------- */

.footer-section{
    height: 444px;
    background-color: black;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info{
    display: flex;
    justify-content: center;
}

.footer-detail .footer-info div{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.footer-section .container{
    margin-top: 10px;
}
.footer-detail h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
}
.footer-detail hr{
    margin: 30px;
    border: 1px solid #ffffff1a;
}
.footer-detail p{
font-weight: 500;
font-size: 16px;
color: #B9B9B9;
padding: 0 5px;
}

/* social link  */
.fa-brands{
    font-size: 25px;
    color: white;
    padding: 0px 15px;
}
.social-link p,.social-link h3{
    text-align: center;
    color: white;
}
.social-font{
    display: flex;
    justify-content: center;
}
/* ---------------------------------------------------
             media query for mobile view
---------------------------------------------------  */
@media screen and (max-width:576px) {
   /* responsive for header section  */
   .container{
    margin-top: 50px;
   }
    .header-container{
        flex-direction: column;
       padding: 20px 20px 0px 20px;
    }
    .title-container,.banner-container{
        width: 100%;
    }
    .title-container h1{
        font-size: 35px;
    }

    .banner-container img{
        width: 90%;
        height: 350px;
    }
    /* responsive for upcomming matches and blogs  */

    .match-and-blogs-container{
      flex-direction: column;
        margin-bottom:0px;
    }
    .upcomming-match{
        width: 100%;
        background-color: white;
    }
    .upcomming-match .upcomming{
        width: 83%;
    }
    .upcomming-match button{
        border: 1px solid #B9B9B9;
        background-color: white;
    }

.blogs{
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
    margin-left: 0px;
}

/* responsive for subscribe or gets update sectoin  */
.outer-box{
    width: 100%;
    margin-bottom: 50px;
}
.inner-box{
    /* flex-direction: column; */
}

/* responsive for footer section  */
.footer-section{
    height: max-content;
    margin-top: 0;
}
.footer-detail .footer-info div{
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}
}

/* ---------------------------------------------------
             media query for tablet view
---------------------------------------------------  */
@media screen and (min-width:576px) and (max-width:992px) {
    /* responsive for header section  */
.container{
 margin-top: 50px;
 }
 .header-container{
    padding: 20px 20px 0px 20px;
 }
 .title-container,.banner-container{
     width: 100%;
 }
 .title-container h1{
     font-size: 40px;
 }

.banner-container img{
    height: 400px;
}

 /* responsive for upcomming matches and blogs  */
 .match-and-blogs-container{
   flex-direction: column;
     margin-bottom: 50px;
 }
 .upcomming-match{
     width: 100%;
     flex-direction: row;
     background-color: white;
 }
 .upcomming-match button{
     border: 1px solid #B9B9B9;
     background-color: white;
 }

.blogs{
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    margin-left: 0px;
}
.view-all-button{
    display: block;
    display: flex;
    justify-content: center;
}

/* responsive for foooter section  */
.footer-info div{
   flex-wrap: wrap;
}
}